build/
dependency-reduced-pom.xml
TESTS-TestSuites.xml
junit*.properties
build/*

#IDE
.idea
*.iml
target/
.checkstyle
.settings
.classpath
.project
/bin

# dev tools
maven/

# editor bak files
*~
*.bak
